<html> <head>
<title>Build System Component Module</title>
</head>

<body>
<h1>Build System Component Module</h1>
<hr>

<h2>Overview</h2>
The Build System Component Module provides the
build system with the ability to import and export
shared components from the common component repository
(currently, this repository resides on a NFS or HTTP server
on the engineering network).
<p>
Most build system modules and targets deal within
the context of the current directory, however
the Component module deals with components as a whole,
so many of the targets produced by this module are
stored in a location known to all subdirectories within
a component build at the COMPONENT_ROOT level.

<hr>
<h2>Component Repository / Dist Area</h2>
XXX Say something here.

<!-- Component descriptors are not currently implemented at nCircle
<hr>
<h2>Component Descriptors</h2>
XXX Say something here.
-->

<hr>
<h2>Global Macros and Controls</h2>
<dl>
  <dt><b>COMPONENT_DEPOTURL_IMPORT</b></dt>
  <dd>This macro specifies the location of the component depot.
       The component repository is also know as the "dist area" or "component repository".
       This is the defalt base URL for component imports.
       </dd><p>
  <dt><b>COMPONENT_DEPOTURL_DIST</b></dt>
  <dd>This macro specifies the location of the component depot.
       The component repository is also know as the "dist area" or "component repository".
       This is the defalt base URL for component distribution.
       </dd><p>
  <dt><b>COMPONENT_IMPORT_ROOT</b></dt>
  <dd>This macro indicates the root location that all import targets
       are copied to for use in the component build.
       Individual import targets may override this
       with target specific options and controls, but this not reccomended.
       </dd><p>       
  <dt><b>COMPONENT_IMPORT_ROOT_ABSPATH</b></dt>
  <dd>The absolute path to COMPONENT_IMPORT_ROOT.
       </dd><p>
</dl>

<hr>
<h2>Targets</h2>
<ul>
  <li><a href="#IMPORTRPM_TARGETS">IMPORTRPM_TARGETS</a>
  <li><a href="#BULKDIST_TARGETS">BULKDIST_TARGETS</a>
  <li><a href="#component_import">component_import</a>
  <li><a href="#component_dist">component_dist</a>
  <li><a href="#component_info">component_info</a>
  <li><a href="#component_man">component_man</a>
</ul>

<hr>
<a name="IMPORTRPM_TARGETS">
<h2>IMPORTRPM_TARGETS</h2>
<h3>IMPORTRPM_TARGETS Overview</h3>
IMPORTRPM_TARGETS is the pattern target used to import
components into the build tree from RPM package files.
Import components are taken from the COMPONENT_DEPOTURL_IMPORT
directory and copied into the COMPONENT_IMPORT_ROOT directory.
<p>
IMPORTRPM_TARGETS should be named for the imported RPM file,
<p>
IMPORTRPM_TARGETS will be built as a prerequisite to "depends"
IMPORTRPM_TARGETS may be built in isolation by requesting the "component_import"
target.

<h3>IMPORTRPM_TARGETS Options</h3>
<dl>
  <dt><b><i>&lt;import target&gt;</i>_DEPOTURL</b></dt>
  <dd>Override the value of the COMPONENT_DEPOTURL_IMPORT for the current
       <i>&lt;import target&gt;</i> only.
       </dd><p>

  <dt><b><i>&lt;import target&gt;</i>_PKGFILE</b></dt>
  <dd>Override the full path to the package file for the current <i>&lt;import target&gt;</i>.
      By default, the package file is expected to reside at COMPONENT_DEPOTURL_IMPORT/<i>&lt;import target&gt;</i>.
      This override may specify a URL, or a local file path.
       </dd><p>
</dl>


<hr>
<a name="BULKDIST_TARGETS">
<h2>BULKDIST_TARGETS</h2>
<h3>BULKDIST_TARGETS Overview</h3>
BULKDIST_TARGETS is the pattern target used to push OS package based 
components to the component depot for sharing components across
development teams and over time.  By default, components will be pused to 
the COMPONENT_DEPOTURL depot using the "curl" utility, and
depends on the user having appropriate credentials specified in a ~/.netrc 
file. BULKDIST_TARGETS targets are "phony" targets
so they will always be build when requested, even if the
the requested component and revision appears to have already
been pushed to the component repository. 
<p>
<b>NOTE</b> Despite appearing similar to DIST_TARGETS, this pattern
target functions completely differently.  The current DIST_TARGETS is
deprecated, and will have its current form removed.
<p>
<!-- XXX TODO: new component code doesn't do this yet... we want it to
In addition to pushing the contents of a component to the
component repository, DIST_TARGETS pattern targets also cause a
XML component descriptor file to be generated and pushed
to the repository. The component descriptor for components pushed to
the repository will chain the component descriptors of all imported
components found in the current IMPORT_TARGETS before being pushed
to the component repository. This is done to track the full 
dependency tree of a component even if components used in
its construction are not re-packaged in its dist or hidden
by static linking.
-->
<h3>BULKDIST_TARGETS Options</h3>
<dl>
  <dt><b><i>&lt;bulkdist target&gt;</i>_MANIFEST</b></dt>
  <dd>Specifies a manifest file for the component distribution.
      The manifest file should contain a list of OS package files
      to be pused to the depot, one package file per line.
      The _MANIFEST is required, and must not be empty.
      The manifest file may be generated at compile or
      package staging time, and will not be read until
      the component distribution is performed.  This
      is done to permit the use of EPM_TARGETS generated
      output manifests.
       </dd><p>

  <dt><b><i>&lt;bulkdist target&gt;</i>_DEPOTURL</b></dt>
  <dd>
       Override the value of the COMPONENT_DEPOTURL for the current
       <i>&lt;bulkdist target&gt;</i> only.
       </dd><p>
</dl>


<hr>
<a name="component_import">
<h2>component_import</h2>
<h3>component_import Overview</h3>
Simple target to trigger the building of IMPORTRPM_TARGETS
pattern targets independent of any other portion of the build.

<hr>
<a name="component_dist">
<h2>component_dist</h2>
<h3>component_dist Overview</h3>
Simple target to trigger the building of BULKDIST_TARGETS
pattern targets independent of the main build "posttarget" phase. 

<hr>
<a name="component_info">
<h2>component_info</h2>
<h3>component_info Overview</h3>
Simple target to display information about the macro
settings of all global macros used by the component module of
the build system. The <b>component_info</b> target will be 
built during the "info" phase of a build, and can be built in 
isolation by requesting the <b>component_info</b> target.

<hr>
<a name="component_man">
<h2>component_man</h2>
<h3>component_man Overview</h3>
Simple targets to display usage information and help pertaining to 
the component module of the build system.
The <b>component_man</b> target will be built during the "man"
phase of a build, and can be built in isolation by requesting
the <b>component_man</b> target.

<hr>
<h2>Example Makefile</h2>
<bloclquote><pre><tt>
COMPONENT_ROOT=../..
BS_ROOT=$(COMPONENT_ROOT)/../build3

include $(BS_ROOT)/defines.mk

IMPORTRPM_TARGETS=foo.rpm  moof.rpm
BULKDIST_TARGETS=nclib_dist

moof.rpm_PKGFILE=/my_other_build/moof-new.rpm

nclib_dist_MANIFEST=$(COMPONENT_ROOT)/nclib/$(BS_ARCH_TARGET_DIR)/nclib-epm.manifest


include $(BS_ROOT)/rules.mk

</tt></pre></blockquote>

<hr>
</body> </html>
