/*
 * colors 
 */
body, p, table, td, th, blockquote, ul, ol, li, hr, address, font {
	color		: #dddddd;
	background	: #000000;
}

a:link    {color:#efefef}
a:visited {color:#d0d0d0}
a:active  {color:#ee0000}
a:hover   {color:#ffd700}

